
header {
    padding: 0px 100px;
    background: var(--bgColor);
    box-shadow: 0 0 10px var(--shadow);
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left, 
.app_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app_title h1 {
    font-size: 30px;
    color: var(--specialText);
    text-decoration-color: var(--text);
}

.menu {
    width: 18px;
    height: 18px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}

.menu_bare {
    width: 100%;
    border: 2px solid var(--text);
}

.nav_logo {
    height: 30px;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin-right: 10px;
}

.nav_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: none;
    width: 35%;
}

.nav_options .nav_option {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.nav_options .nav_option:hover {
    color: var(--specialText);
}