.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  height: 100vh;
}

.forms_container {
  height: 480px;
  position: relative;
  border: 1px solid var(--detail);
  box-shadow: 0px 0px 10px var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  gap: 40px;
}

.form_group {
  height: auto;
}

.slider {
  position: absolute;
  right: -87px;
  height: 100%;
  width: 530px;
  background-image: url(/media/bgLogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: skew(-20deg);
  overflow: hidden;
  z-index: 10;
  transition: transform 0.5s ease-in;
}

.slider.active {
  transform: translateX(-547px) skew(-20deg);
}

.slider_bg {
  height: 100%;
  width: 100%;
  background: rgba(120, 180, 230, 0.7);
}

.slider_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  transform: skew(20deg);
}

.slider_content h2{
  padding: 0px 150px;
  width: 70%;
  /* color: rgb(255, 255, 255); */
  filter: drop-shadow(0 0 10px var(--shadow2));
}

.slider_content img{
  filter: drop-shadow(0 0 10px var(--shadow));
}

.slider_content a {
  color: rgb(255, 255, 255);
  background: var(--shadow);
}

.term {
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.term:hover {
  color: var(--specialText);
}

.form_data {
  min-height: 200px;
  padding: 50px;
  transition: opacity 0.8s;
}

.form_data form {
  width: 330px;
  max-width: 400px;
}

.logo {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 10px;
}

.title {
  color: var(--detail3);
  font-size: 30px;
  margin: 0px 0px;
}

.helpText {
  width: 80%;
  font-size: 12px;
  text-align: center;
  color: var(--text3);
  margin-bottom: 20px;
}

.next {
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background: var(--detail3);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.next:focus,
.next:focus-visible {
  outline: none;
}

.noButton {
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  color: var(--specialText);
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.next:hover {
  background: var(--specialText);
}

form .other_sesion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.other_sesion .noButton {
  background: transparent;
  /* color: var(--detail); */
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.other_sesion .noButton:hover {
  color: var(--detail);
}

.buttonsContainer {
  margin-top: 40px;
}

.rememberme {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.rememberme p {
  margin-left: 5px;
  color: var(--text);
}

.right {
  display: flex;
  align-items: center;
  justify-content: right;
}

/* src/styles/Reg.css */

.sliderInputs {
  height: 127px;
  min-height: 126px;
}

.twoInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  opacity: 0;
}

.reg_clase .form_group input,
.reg_clase .form_group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Separación entre inputs */
}

.reg_clase .form_group .password-container {
  position: relative;
}

.reg_clase .form_group .password-container input {
  padding-right: 40px; /* Espacio para el ícono */
}

.reg_clase .form_group .password-container .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.reg_clase .slider {
  width: 100%;
  margin-top: 10px;
}

.reg_clase .next {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background: var(--detail3);
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.reg_clase .noButton {
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.reg_clase .buttonSesion:focus,
.reg_clase .buttonSesion:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.reg_clase .next:hover {
  background: var(--specialText);
}

.reg_clase form .other_sesion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg_clase .other_sesion .noButton {
  background: transparent;
  color: var(--detail);
  font-weight: 400;
}

.termRead {
  font-size: 13px;
}